---
layout: default
title: notes
permalink: /
---

<!-- readable-content -->
<div class="readable-content">
    {% include circle.html %}
        <!-- intro -->
        <div class="intro">
            <h2>Hi! I am a <span class="label">java/scala dev</span> doing cool stuff in Scala, Play!, EJB, Java and all that jazz.</h2>
            <p class="launch-wrap"><a href="/portfolio">VIEW PORTFOLIO</a></p>
        </div>
        <!-- intro -->
        
        
        <!-- post-list -->
        <div class="post-list">
            <ul>
                {% for post in paginator.posts limit: 8 %}
                <li>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <span class="date">{{ post.date | date_to_string }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- post-list -->
        

</div>
<!-- readable-content -->
