<aside class="about-author">
                                
    <h3>ABOUT THE AUTHOR</h3>
    
    <!-- .author-bio --> 
    <div class="row-fluid author-bio">
        
        <!-- .author-img --> 
        <div class="span2 author-img">
            <img alt="{{site.author}}" src="/assets/general/{{site.author-img}}" class="avatar avatar-170 photo" height="170" width="170">												
        </div>
        <!-- .author-img -->
        
        <!-- .author-info -->
        <div class="span10 author-info">
            <h4 class="author-name">{{site.author}}</h4>
            <p>{{site.author-bio}}</p>
        </div>
        <!-- .author-info -->
        
    </div>
    <!-- .author-bio --> 
    
</aside>
