<div id="top" class="row-fluid">
    
<div class="hero-image-parent">
    
    <!-- BEGIN Social Links -->
    <a href="{{site.social-twitter}}" class="pos pos_1" style="opacity: 1;">_</a>
    <a href="{{site.social-github}}" class="pos pos_2" style="opacity: 1;">j</a>
    <a href="{{site.social-linkedin}}" class="pos pos_3" style="opacity: 1;">v</a>
    <a href="{{site.social-tumblr}}" class="pos pos_4" style="opacity: 1;">\</a>
    <!-- END Social Links -->
    
    <!-- BEGIN Image Holder -->
    <div class="hero-image-holder">
        
        <!-- Here you can change you profile image navigate to main.css file to change profile image. -->      
        <img src="/assets/general/photo.jpg" class="hero-image hero_animate" alt="">
        
    </div>
    <!-- END Image Holder -->
    
  </div>

    <!-- BEGIN Name Box -->
    <div class="name-box" style="margin-bottom:5em;">
      
      <h2 class="zero_margin">{{site.author}}</h2>
      
    </div>
    <!-- END Name Box -->
    
</div>