                </div>
            </div>
         </div>
      </section>
      <!-- #main -->
      
      <!-- .site-footer -->
      <footer class="site-footer wrapper" role="contentinfo"> 
        <!-- .row -->
        <div class="row">
        
          
          <!-- #supplementary -->	
          <div id="supplementary" class="row-fluid">
          
          
            <!-- .widget-area -->
            <!--<div class="widget-area span3" role="complementary">
            
              <aside class="widget widget_text">
                <h3 class="widget-title">About {{ site.title }}</h3>
                <div class="textwidget">{{ site.description }}</div>
              </aside>
              
            </div>-->
            <!-- .widget-area -->
            
            
            <!-- .widget-area -->
            <!--<div class="widget-area span3" role="complementary">
            
              <aside class="widget widget_recent_entries">
                  <h3 class="widget-title">Recent Posts</h3>
                  <ul
                    {% for post in site.posts limit 5 %}
                      <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li
                    {% endfor %}
                  </ul>
                </aside>
              
            </div>-->
            <!-- .widget-area -->
            
            <!-- .widget-area -->
            <!--<div class="widget-area span3" role="complementary">
            
              <aside class="widget widget-instagram">
                  <h3 class="widget-title">Photos on Instagram</h3>
                  <div class="instagram"></div>
                  <script src="/assets/js/instagram.js"></script>
                </aside>
              
            </div>-->
            <!-- .widget-area -->
            
            <!-- .widget-area -->
            <!--<div class="widget-area span3" role="complementary">
            
              <aside class="widget widget_categories">
                  <h3 class="widget-title">Categories</h3>
                  <ul>
                    <li><a href="#" title="View all posts filed under Uncategorized">Web Design</a></li>
                    <li><a href="#" title="View all posts filed under Uncategorized">Javascript</a></li>
                    <li><a href="#" title="View all posts filed under Uncategorized">Typography</a></li>
                    <li><a href="#" title="View all posts filed under Uncategorized">Freebies</a></li>
                  </ul>
                </aside>
              
            </div>-->
            <!-- .widget-area -->
            
            
          </div>
          <!-- #supplementary -->	
          
          
          <!-- .site-info -->
          <div class="site-info">by {{ site.copyright }}</div>
          <!-- .site-info --> 
          
        </div>
        <!-- .row --> 
      </footer>
      <!-- .site-footer --> 
      
    </div>
    <!-- #PAGE -->
    
    
    
    <!-- SCRIPTS -->
    <script src="/assets/js/detectmobilebrowser.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/js/jquery.imagesloaded.min.js"></script>
    <script src="/assets/js/jquery.fitvids.js"></script>
    <script src="/assets/js/google-code-prettify/prettify.js"></script>
    <script src="/assets/js/jquery.uniform.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>

    <script src="/assets/js/main.js"></script>
    

</body>
</html>
