<!-- .entry-header -->
<header class="entry-header">
<h1 class="entry-title"><a href="{% unless post.category == 'projects' %}{{ post.url }}{% else %}/projects/{% endunless %}" rel="bookmark">{{post.title}}</a></h1>
</header>
<!-- .entry-header -->

<!-- .entry-meta -->
<div class="entry-meta">
    posted in 
    <a href="#" title="View all posts in {{post.categoties}}" rel="category">{% if post.categories %}{{post.categories | category_links }}{% endif %}</a>
    on <a href="#" title="{{ post.date | date_to_string }}" rel="bookmark"><time class="entry-date"  pubdate="">{{ post.date | date_to_string }}</time></a>
    <span class="by-author"> by <span class="author vcard">
    <a class="url fn n" href="#" title="View all posts by {{ site.author }}" rel="author">{{site.author}}</a></span></span>.				
</div>


