	<div id="scripts">
    {% if page.layout == 'contact' %}
		  <script type="text/javascript">

	    	function addMap(){
		    	var map;

				var stylez = [
				    {
				      featureType: "all",
				      elementType: "all",
				      stylers: [
				        { saturation: -100 }
				      ]
				    }
				];

				var mapOptions = {
				    zoom: 12,
				    center: new google.maps.LatLng('54.351954','18.646889'),
	  				streetViewControl: false,
	  				scrollwheel: false,
	  				panControl: false,
	  				zoomControl: false,
	  				mapTypeControl: false,
	  				overviewMapControl: false,
				    mapTypeControlOptions: {
				         mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'wowMap']
				    }
				};

				map = new google.maps.Map(document.getElementById("contactMap"), mapOptions);

				var mapType = new google.maps.StyledMapType(stylez, { name:"Grayscale" });    
				map.mapTypes.set('wowMap', mapType);
				map.setMapTypeId('wowMap');
	
				var image = '/assets/general/contactPin.png';

				var myLatLng = new google.maps.LatLng('54.351954','18.646889');
				var beachMarker = new google.maps.Marker({
				    position: myLatLng,
				    map: map,
				    icon: image
				});
			}

			if (!window.addEventListener) 
				window.attachEvent('load', addMap);
			else 
				window.addEventListener('load', addMap, false);

	    </script>
		  <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?sensor=false&#038;ver=1'></script>
    {% endif %}

		<div id="fb-root"></div>

		<div id="mobileCheck"></div>
		
		<div id="oldie">This is a unique website which will require a more modern browser to work! <a href="https://www.google.com/chrome/">Please upgrade today!</a></div>

		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
		<script type='text/javascript' src='/js/plugins.min.js'></script>
		<script type='text/javascript' src='/js/scripts.js'></script>
  {% if page.title == 'about' %}
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: {{ site.linkedin }}  
      authorize: true
    </script>
   
    <script type="IN/Login" data-onAuth="authSuccess"></script>
    <script>
    function authSuccess() {
        var recos_element = $("#fullwidth");
        IN.API.Raw("/people/~/recommendations-received").result(function(result) {
            var reco = result.values[Math.floor(Math.random() * result.length)];
            recos_element.append($(reco.recommendationText +  '<br/> --' + reco.recommender.firstName + ' ' + reco.recommender.lastName));
        });
    }
    </script>


    {% endif %}
	</div>

</body>
</html>

