<div id="skills" class="row-fluid">

<div class="text-center">
  <h2 class="main-title title">My Skills</h2>
  <div class="hr"></div>
</div>
                
<div class="centered">

<!-- BEGIN Skills Box -->
<div>
      
  <!-- SKILL START -->
  <div class="skill_box">
    <div class="skill_label">Java EE<span class="skill_name">Humble Pro</span></div>
    <div class="skill_level"><div class="skill_set" data-skill="75" style="overflow: hidden; width: 75%; "></div></div>
  </div>
  <!-- SKILL END -->

  <!-- SKILL START -->
  <div class="skill_box">
    <div class="skill_label">Spring Core<span class="skill_name">Long-time-no-see Pro</span></div>
    <div class="skill_level"><div class="skill_set" data-skill="65" style="overflow: hidden; width: 65%; "></div></div>
  </div>
  <!-- SKILL END -->

  <!-- SKILL START -->
  <div class="skill_box">
    <div class="skill_label">Scala<span class="skill_name">Fanatic Newbie</span></div>
    <div class="skill_level"><div class="skill_set" data-skill="45" style="overflow: hidden; width: 45%; "></div></div>
  </div>
  <!-- SKILL END -->

  <!-- SKILL START -->
  <div class="skill_box">
    <div class="skill_label">Webdev: HTML/CSS/JS<span class="skill_name">Will-do-if-needed Pro</span></div>
    <div class="skill_level"><div class="skill_set" data-skill="70" style="overflow: hidden; width: 70%; "></div></div>
  </div>
  <!-- SKILL END -->

  <!-- SKILL START -->
  <div class="skill_box">
    <div class="skill_label">VCS: Git/SVN<span class="skill_name">Pro</span></div>
    <div class="skill_level"><div class="skill_set" data-skill="85" style="overflow: hidden; width: 85%; "></div></div>
  </div>
  <!-- SKILL END -->

  <!-- SKILL START -->
  <div class="skill_box">
    <div class="skill_label">DBMS: Oracle, MySQL, MongoDB<span class="skill_name">Adv</span></div>
    <div class="skill_level"><div class="skill_set" data-skill="60" style="overflow: hidden; width: 60%; "></div></div>
  </div>
  <!-- SKILL END -->

  <!-- SKILL START -->
  <div class="skill_box">
    <div class="skill_label">C/C++<span class="skill_name">Concious Maintainer</span></div>
    <div class="skill_level"><div class="skill_set" data-skill="40" style="overflow: hidden; width: 40%; "></div></div>
  </div>
  <!-- SKILL END -->

  <!-- SKILL START -->
  <div class="skill_box">
    <div class="skill_label">Ruby<span class="skill_name">AutomationFreak</span></div>
    <div class="skill_level"><div class="skill_set" data-skill="40" style="overflow: hidden; width: 40%; "></div></div>
  </div>
  <!-- SKILL END -->

</div>
<!-- END Skills Box -->

</div>
  
<div class="skills_text">

  <div class="span6">
    <h3>Coding skills</h3>
    <p>A single line of working <a href="{{site.social-github}}">code</a> is <a href="http://r.cyanogenmod.com">more</a> than 1000 lines of whatever else. Unfortunately not everything can be shown. I have been working in a vartiety of projects. From social-networking, through governmental projects for education sector to banking industry middleware projects. Please have a look to <a href="/portfolio/">projects</a> section for case studies.</p>             
  </div> 
    
  <div class="span6 last">
    <h3>Working on improving my skills</h3>
    <p>Having a solid set of skills is pretty cool, yet when it comes to software engineering (<a href="http://www.goodreads.com/book/show/4099.The_Pragmatic_Programmer">'gardening'</a> if you will) they tend to get out of date pretty fast. Not only specifications but whole languages disappear in a massive /dev/null where no programmer dares to go. Thus having a valid set of skills needs constant learning, practice and aims. I try to use the most bleeding edge technology and as they mature incorporate them in even the most stagnant projects that seem to be way out of date already. Yes, it's possible to introduce Scala alongside 20-year legacy code. This is how I roll. Aside from that <a href="http://www.codeschool.com/users/Peel">Codeschool</a>, Coursera et al are my destination of choice when targeting for new things to learn and discover.</p>             
  </div>       
    
</div>

<!-- BEGIN Personl Skills -->
  <ul class="personal_skills">
    <li><span>80/100</span>VimScript</li> 
    <li><span>50/100</span>HTML/CSS</li>  
    <li><span>30/100</span>JavaScript</li> 
    <li><span>85/100</span>Web Design</li>
    <li><span>95/100</span>Team Work</li>
    <li><span>95/100</span>Technical background</li>
    <li><span>95/100</span>Guitar player</li>
    <li><span>77/100</span>Mobile Aplications</li>
    <li><span>96/100</span>Social Networker</li>
    <li><span>100/100</span>Partyordinare</li>
    <li><span>100/100</span>Kitchen Chef</li> 
    <li><span>100/100</span>StreetArt Lover</li> 
    <li><span>100/100</span>Sneakerhead</li> 
  </ul> 
<!-- END Personl Skills -->
  
</div>
