---
layout: projects 
---

{% include head.html %}	
	{% include sidebar.html %}	

        {{ content }}

			<div id="projectHover" class="hidden hasButtons">
        {% if page.next.url %} 
				<a href="{{ page.next.url }}" class="btnNext hoverBack">Next</a>
        {% endif %}
				<a href="/projects/" class="btnClose hoverBack">Close</a>
        {% if page.previous.url %} 
				<a href="{{ page.previous.url }}" class="btnPrev hoverBack">Prev</a>
        {% endif %}
			</div>

  {% include foot.html %}
{% include scripts.html %}

